# --- BINANCE API ---
BINANCE_API_KEY=
BINANCE_SECRET_KEY=

# --- SERVICE PORTS ---
DATA_SERVICE_PORT=
ML_SERVICE_PORT=
GATEWAY_PORT=

# --- DATABASE CONFIG ---
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=