# --- Core Framework ---
fastapi>=0.115.0
uvicorn[standard]>=0.32.0
python-dotenv>=1.0.1
pydantic>=2.9.2
pydantic-settings>=2.6.0

# --- Networking ---
httpx>=0.27.0
requests>=2.32.0

# --- Data & Crypto ---
ccxt>=4.4.25
python-binance

# --- Data Processing ---
numpy<2.0.0
pandas>=2.2.0
scikit-learn>=1.5.0
joblib>=1.4.0
matplotlib==3.8.2

# --- Database (PostgreSQL) ---
sqlalchemy>=2.0.30
asyncpg>=0.30.0
alembic>=1.13.0

# --- Security (Optional) ---
python-jose[cryptography]
passlib[bcrypt]

# --- AI Core (PyTorch) ---
pyyaml==6.0.1
torch>=2.2.0 --index-url https://download.pytorch.org/whl/cpu
